nav {
    margin: 50px auto;
    width: 290px;
}

.menu2 {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu2 a {
    font-family: georgia;
    font-size: 14px;
    font-style: italic;
    text-transform: capitalize;
}

.menu2 li {
    border-right: 1px solid rgba(200, 200, 255, 0.5);
    border-left: 1px solid rgba(40, 40, 40, 0.2);
}

li {
    list-style-type: none;
    background: linear-gradient(70deg, #002bff, #7a00ff, #ff00c8, #eabebe);
    float: left;
    cursor: pointer;
    padding: 7px 20px;
    border-top: 2px solid rgba(200, 200, 255, 0.5);
    border-bottom: 2px solid rgba(50, 50, 50, 0.4);
}

li:first-child {
    border-radius: 5px 0 0 5px;
}

li:last-child {
    border-radius: 0 5px 5px 0;
}

a {
    display: block;
    padding: 10px 13px;
    font-size: 26px;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    top: 0;
    color: #FFF;
    transition: all .4s;
}

li:hover a {
    top: -20px;
    color: #4eacff;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition: all .4s;
}

li a:after {
    display: block;
    content: '';
    position: absolute;
    top: 100%;
    left: 42%;
    border-style: solid;
    border-color: transparent;
    border-width: 5px 5px 0 5px;
    transition: all .4s;
}

li:hover a:after {
    border-color: white transparent transparent transparent;
    transition: all .4s;
}

.active {
    top: -20px;
    color: #4eacff;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition: all .4s;
}

.active:after {
    border-color: white transparent transparent transparent;
    transition: all .4s;
}